// =======================================
// Typography
// =======================================

// Heading Retina Design Font Size 설정
$h1-fz: 34px;
$h2-fz: 30px;
$h3-fz: 28px;
$h4-fz: 20px;
$h5-fz: 18px;
$h6-fz: 16px;

// 제목 폰트 사이즈, 행간 비율 (px, rem)
h1 {
    @include hd-font($h1-fz, 2);
}
h2 {
    @include hd-font($h2-fz, 2);
    font-weight: bold;
    color: #010101;
}
h3 {
    @include hd-font($h3-fz, 2);
}
h4 {
    @include hd-font($h4-fz, 1);
}
h5 {
    @include hd-font($h5-fz, 1);
}
h6 {
    @include hd-font($h6-fz, 1);
    font-weight: bold;
}