// =======================================
// Common Style
// =======================================
// 폰트 기본 설정
html {
    font-family: $font-family;
    font-size: $html-fz;
    body {
        min-width: 800px;
        min-height: 100vh;
        font-size: rem($body-fz);
        color: $font-base;
        line-height: 1.5;
    }
    body * {
        box-sizing: border-box;
        word-wrap: break-word;
    }
}

// 정렬 설정
.fl {
    float: left;
}
.fr {
    float: right;
}
.mt20 {
    margin-top: 20px;
}
.mb20 {
    margin-bottom: 20px;
}
.ml20 {
    margin-left: 20px;
}
.mr20 {
    margin-right: 20px;
}

// 딤처리 테스트
.dim-area {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: hsla(0, 0%, 0%, 0.1);
}

// 버튼 마우스 포인터
[class^="btn-"] {
    cursor: pointer;
}

// 라벨 설정
[class^="lable-"] {
    display: inline-block;
    text-align: center;
    vertical-align: text-bottom;
    font-family: $font-title-m;
    font-size: rem(22px);
}
.lable-science {
    @include btn($bg:$yellow);
}
.lable-arts {
    @include btn($bg:$orange);
}
.lable-social {
    @include btn($bg:$purple);
    line-height: 1.55;
}
.lable-korean {
    @include btn($bg:$light-green);
}
.lable-math {
    @include btn($bg:$sky-blue);
}

// 팝업 설정
.pop-wrap {
    @include wh-center ($position: absolute, $h-percent: 50%, $w-percent: 50%);
    width: -webkit-calc( 100% - 300px );
    width: -moz-calc( 100% - 300px );
    width: calc( 100% - 300px );
    min-width: 906px;
    background: #fff;
    overflow-y: auto;
    .title {
        padding: 18px 26px 0;
        border-bottom: 2px dashed #dbdbdb;
        height: 66px;
        span {
            font-size: rem(22px);
            color: #888;
            margin-left: 10px;
            em {
                color: #ee4742;
            }
        }
    }
    .wrap {
        @extend %clearfix;
        padding-top: 30px;
        &:nth-of-type(1) {
            padding-top: 50px;
        }
    }
}