/* ----------------------------------------------------------------------
 07-4.내책읽기,
 07-5.내책읽기,
 07-6.내책읽기
 (07_read-my-book.html)
----------------------------------------------------------------------- */
.cover-area {
    width: 100%;
    height: 100vh;
    background: url("/assets/images/bg/cover-bg-01.png") center no-repeat;
    background-size: cover;
    .text-box {
        height: 100vh;
        padding: 95px 80px;
        color: #fff;
        .title {
            font-family: $font-title-b;
        }
        .author {
            font-size: rem(22px);
            padding-top: 32px;
            padding-bottom: 54px;
        }
        .contents {
            width: 524px;
            line-height: 50px;
            span {
                background: hsla(0, 0%, 0%, 0.2);
            }
        }
    }
}

/* ----------------------------------------------------------------------
 20-1.서브_상세화면_내책읽기
 (20-1_sub-view-reed-my-book-list.html)
----------------------------------------------------------------------- */
.sub-menu {
    width: 406px;
    height: 100vh;
    background: #fff;
    border-right: 1px solid hsla(0, 0%, 0%, 0.1);
    overflow-y: auto;
    overflow-x: hidden;
    h2 {
        font-family: $font-title-b;
        padding: 15px 28px;
        line-height: 1.5;
        @include ellipsis(1);
    }
    ul {
        @extend %clearfix;
        li {
            position: relative;
            padding: 8px 28px;
            font-size: rem(22px);
            line-height: 1;
            &:before {
                position: absolute;
                top: 8px;
                left: 28px;
                display: inline-block;
                content: ".";
                line-height: 16px;
            }
            a {
                line-height: 32px;
                padding-left: 16px;
            }
        }
    }
}

/* ----------------------------------------------------------------------
 24-1.메인_공통_최근검색어,
 24-2.메인_공통_최근검색어,
 24-3.메인_공통_최근검색어
 (24_main-recent_searches.html)
----------------------------------------------------------------------- */
.search-menu {
    width: 512px;
    height: 100vh;
    background: #fff;
    border-left: 1px solid hsla(0, 0%, 0%, 0.1);
    overflow-y: auto;
    overflow-x: hidden;
    .search-area {
        position: relative;
        @extend %clearfix;
        padding: 30px 26px;
        background: #ebeff2;
        .search-wrap {
            position: relative;
            display: inline-block;
            height: 50px;
            line-height: 50px;
            border: 1px solid #d1d4d7;
            margin-right: 110px;
            background: #fff;
            border-radius: 25px;
            input {
                width: 100%;
                padding: 0 50px 0 20px;
            }
            label {
                visibility: hidden;
            }
            .btn-search-clear {
                position: absolute;
                top: 12px;
                right: 16px;
                width: 24px;
                height: 24px;
                text-align: center;
                border-radius: 12px;
                background: #d8d8d8;
                &:before {
                    display: inline-block;
                    content: "";
                    width: 100%;
                    height: 100%;
                    background: url("/assets/images/svg/icon-search-clear.svg") center no-repeat;
                    background-size: 11px 11px;
                }
            }
        }
        .btn-search {
            position: absolute;
            right: 30px;
            @include btn($fz:24px, $color:#fff, $width:98px, $height:50px, $bg:#f56056,$radius:25px);
            border: 1px solid #ec352f;
        }
    }
}
.search-menu {
    .message {
        padding: 80px 30px;
        text-align: center;
    }
    .keyword-btn-set {
        @extend %clearfix;
        padding: 28px 30px 0 30px;
        .btn-new-search {
            font-size: rem(18px);
            color: #0f9fff;
        }
        .delete-area {
            margin-top: -5px;
            span {
                font-size: rem(18px);
                color: #888;
                height: 26px;
                line-height: 26px;
                vertical-align: 5px;
            }
            .btn-delete {
                width: 26px;
                height: 26px;
                text-align: center;
                border-radius: 6px;
                background: #a9a9ab;
                border: 1px solid #9a999b;
                vertical-align: text-top;
                margin-left: 15px;
                &:before {
                    display: inline-block;
                    content: "";
                    width: 100%;
                    height: 100%;
                    background: url("/assets/images/svg/icon-search-delete.svg") center no-repeat;
                    background-size: 13px 14px;
                }
            }
        }
    }
}
.search-menu {
    .keyword {
        @extend .keyword-btn-set;
        padding-top: 10px;
        li {
            @extend %clearfix;
            padding: 10px 0;
            .delete-area {
                margin-top: 3px;
                span {
                    vertical-align: 5px;
                }
                .btn-delete {
                    background: #d8d8d8;
                    border: 1px solid #c5c4c4;
                }
            }
        }
    }
}

/* ----------------------------------------------------------------------
 17-1.웹팝업_교과연계,
 17-2.웹팝업_교과연계,
 17-3.웹팝업_교과연계
 (17_popup-curriculum.html)
----------------------------------------------------------------------- */
.curriculum {
    .wrap {
        [class^="col-"] {
            float: left;
        }
        .col-icon-box {
            margin-left: 36px;
            margin-right: 36px;
            .elementary-student {
                background-image: url('/assets/images/sprite/sprite-icon.png');
                @include sprite($icon-elementary-student);
            }
            .middle-schooler {
                background-image: url('/assets/images/sprite/sprite-icon.png');
                @include sprite($icon-middle-schooler);
            }
            figcaption {
                font-family: $font-title-b;
                font-size: rem(28px);
                text-align: center;
            }
        }
    }
}
.curriculum {
    .wrap {
        &:nth-of-type(1) {
            .col-text-box {
                border-bottom: 1px solid #dbdbdb;
                min-height: 201px;
            }
        }
        .col-text-box {
            width: -webkit-calc( 100% - 158px );
            width: -moz-calc( 100% - 158px );
            width: calc( 100% - 158px );
            min-height: 100px;
            ul {
                @extend %clearfix;
                display: block;
                margin-bottom: 20px;
                li {
                    float: left;
                    display: inline-block;
                    font-size: rem(22px);
                    &.lable {
                        font-family: $font-title-b;
                        margin-left: 20px;
                        margin-right: 30px;
                    }
                }
            }
        }
    }
}

/* ----------------------------------------------------------------------
 30.공지사항
 (30_notice-list.html)
----------------------------------------------------------------------- */
.notice {
    .title {
        height: 65px;
        line-height: 65px;
        color: #fff;
        text-align: center;
        background: #f34a3c;
        .btn-notice-close {
            float: right;
            width: 65px;
            height: 65px;
            &:after {
                display: block;
                content: "";
                width: 26px;
                height: 26px;
                margin: 0 20px;
                background: url(/assets/images/svg/btn-notice-close.svg) center center no-repeat;
                background-size: 100%;
            }
            span {
                @include text-aria;
            }
        }
    }
}
// Accordion 사용
// [참고] http://codepen.io/dope/pen/yyxVga
.accordion {
    width: 100%;
    .accordion-item {
        &.js-open {
            .accordion-title {
                cursor: default;
                &:after {
                    background: url(/assets/images/svg/btn-accordion-open.svg) top right no-repeat;
                }
            }
        }
        .accordion-title {
            &:after {
                float: right;
                display: inline-block;
                content: "";
                width: 25px;
                height: 13px;
                margin-top: -32px;
                background: url(/assets/images/svg/btn-accordion-close.svg) top right no-repeat;
                background-size: 100%;
            }
        }
    }
}
.accordion {
    .accordion-item {
        .accordion-title {
            font-size: rem(24px);
            padding: 25px 35px;
            border-bottom: 1px solid #dbdbdb;
            cursor: pointer;
            span {
                display: block;
                font-size: rem(18px);
                color: #f34a3c;
                margin-top: 12px;
            }
        }
        .accordion-copy {
            display: none;
            font-size: rem(22px);
            color: #888;
            line-height: 40px;
            padding: 25px 35px;
            background: #f8f8f8;
            border-bottom: 1px solid #dbdbdb;
            img {
                width: 100%;
                height: auto;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
        .accordion-copy-open {
            display: block;
        }
    }
}

/* ----------------------------------------------------------------------
 10-1.서브_상세화면
 (10-1_sub-view.html)
----------------------------------------------------------------------- */
.sub-view {
    header {
        padding: 0 56px;
        position: relative;
        width: 100%;
        height: 90px;
        background: url(/assets/images/bg/bg-sub-book-header.png);
        h5 {
            padding-top: 38px;
            font-weight: bold;
            .lable-social {
                margin-right: 20px;
            }
            .sub-title {
                margin-left: 20px;
                font-weight: normal;
                &:before {
                    display: inline-block;
                    content: "";
                    width: 20px;
                    height: 20px;
                    margin-right: 6px;
                    vertical-align: -3px;
                    background: url(/assets/images/svg/icon-sub-title.svg) center left no-repeat;
                    background-size: 100%;
                }
            }
        }
    }
}
.sub-view {
    .btn-menu-list {
        @include h-center($position: absolute);
        width: 40px;
        height: 49px;
        background: #f56056;
        border-top: 1px solid #ed3730;
        border-bottom: 1px solid #ed3730;
        border-right: 1px solid #ed3730;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
        &:before {
            display: block;
            content: "";
            width: 100%;
            height: 100%;
            margin-left: -3px;
            background: url("/assets/images/svg/btn-menu-list.svg") center no-repeat;
            background-size: 20px 20px;
        }
        span {
            @include text-aria;
        }
    }
    .container {
        height: -webkit-calc( 100vh - 180px );
        height: -moz-calc( 100vh - 180px );
        height: calc( 100vh - 180px );
        padding: 22px 56px;
        background: url(/assets/images/bg/bg-sub-book-common.png);
        overflow-y: auto;
        h2 {
            font-family: $font-title-b;
            margin-bottom: 28px;
        }
        p {
            text-align: justify;
            margin-bottom: 40px;
            a {
                border-bottom: 1px solid #4a4a4a;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
// Main Touch Slider
// [참고] http://flickity.metafizzy.co/api.html
.img-area {
    +p {
        clear: both;
    }
    .thumbnail {
        float: left;
        img {
            @include w-center;
            object-fit: cover;
        }
        .img {
            width: 376px;
            height: 234px;
            border: 1px solid #b8b8b8;
            overflow: hidden;
            img {
                @include w-center;
                object-fit: cover;
            }
        }
        figcaption {
            font-size: rem(18px);
            padding-top: 14px;
        }
    }
    .touch-slider {
        float: left;
        .carousel-auto {
            width: 376px;
            height: 234px;
            background: #000;
            border: 1px solid #b8b8b8;
            margin-bottom: 40px;
            .carousel-cell {
                figcaption {
                    font-size: rem(18px);
                    padding-top: 14px;
                    clear: both;
                }
            }
            // 플러그인 이전, 다음 버튼 제거
            .flickity-prev-next-button {
                display: none;
            }
            .flickity-page-dots {
                top: -30px;
                bottom: 0;
                height: 30px;
                text-align: right;
                .dot {
                    width: 8px;
                    height: 8px;
                    margin: 0;
                    margin-left: 12px;
                    box-sizing: border-box;
                    background: #ababab;
                    border: 1px solid #979797;
                    border-radius: 0;
                    &.is-selected {
                        opacity: 1;
                        background: #f37e7a;
                        border: 1px solid #ee6866;
                    }
                }
            }
        }
    }
}
.sub-view {
    footer {
        @extend %clearfix;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 90px;
        padding: 0 56px;
        background: url(/assets/images/bg/bg-sub-book-footer.png);
        .paging {
            float: left;
            font-size: rem(14px);
            margin-top: 35px;
        }
        ul.footer-menu {
            float: right;
            margin-top: 24px;
            li {
                float: left;
                a {
                    display: inline-block;
                    img {
                        vertical-align: middle;
                    }
                    span {
                        font-size: rem(16px);
                        margin-right: 33px;
                    }
                }
                &:last-child {
                    a {
                        span {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}

/* ----------------------------------------------------------------------
 10-2.이미지_영상_풀화면_캡션,
 10-3.이미지_영상_풀화면_캡션
 (10-2_sub-view-image-caption)
----------------------------------------------------------------------- */
.sub-view-image {
    .btn-image-close {
        position: absolute;
        top: 28px;
        right: 28px;
        width: 34px;
        height: 35px;
        z-index: 1;
        &:before {
            display: block;
            content: "";
            width: 100%;
            height: 100%;
            background: url("/assets/images/carousel/btn-full-img-close.png") center no-repeat;
            background-size: 34px 35px;
        }
        span {
            @include text-aria;
        }
    }
    .touch-slider {
        .carousel {
            background: #000;
            .carousel-cell {
                width: 100vw;
                height: 100vh;
                overflow: hidden;
                .thumbnail {
                    position: relative;
                    text-align: center;
                    height: 100vh;
                    video {
                        @include wh-center($position: absolute);
                        width: 100%;
                        height: auto;
                    }
                    img {
                        width: auto;
                        height: 100vh;
                        max-width: 1280px;
                    }
                }
                figcaption {
                    position: absolute;
                    bottom: 0;
                    padding: 28px;
                    font-size: rem(18px);
                    color: #fff;
                    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100% );
                    h4 {
                        font-weight: bold;
                        margin-bottom: 18px;
                        .lable-science {
                            margin-right: 18px;
                        }
                        .sub-title {
                            font-weight: normal;
                        }
                    }
                    p {
                        height: 60px;
                        overflow-y: auto;
                    }
                }
            }
            // 플러그인 이전, 다음 버튼 제거
            .flickity-prev-next-button {
                background: transparent;
                width: 35px;
                height: 65px;
                border-radius: 0;
                svg {
                    display: none;
                }
                &.previous {
                    left: 28px;
                    &:before {
                        display: block;
                        content: "";
                        width: 100%;
                        height: 100%;
                        background: url("/assets/images/carousel/btn-full-img.png") center no-repeat;
                        background-size: 35px 65px;
                    }
                }
                &.next {
                    right: 28px;
                    &:before {
                        display: block;
                        content: "";
                        width: 100%;
                        height: 100%;
                        background: url("/assets/images/carousel/btn-full-img.png") center no-repeat;
                        -ms-transform: rotate(180deg);
                        -webkit-transform: rotate(180deg);
                        transform: rotate(180deg);
                        background-size: 35px 65px;
                    }
                }
            }
            .flickity-page-dots {
                display: none;
            }
        }
    }
}

/* ----------------------------------------------------------------------
 25.메인_공통_통합검색,
 26-1.메인_공통_사진검색,
 28.메인_공통_영상검색
 (25_main-search-tab.html)
----------------------------------------------------------------------- */
.search-tab {
    @extend .search-menu;
    overflow: hidden;
    .tab-area {
        border-bottom: 1px solid #dbdbdb;
        .tab-wrap {
            position: relative;
            display: flex;
            width: 100%;
        }
        .slide {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 2px;
            transition: left 0.3s ease-out;
            .width {
                position: absolute;
                left: 50%;
                bottom: 0;
                height: 1px;
                width: 64px;
                margin-left: -32px;
                background: #f56056;
            }
        }
        .tab-label-content {
            width: 100%;
            height: 120px;
            .tab-content {
                position: absolute;
                top: 120px;
                display: none;
                height: -webkit-calc( 100vh - 230px );
                height: -moz-calc( 100vh - 230px );
                height: calc( 100vh - 230px );
                overflow-y: auto;
            }
        }
    }
}
.search-tab {
    .tab-area {
        @include tabs(3);
        input[type="radio"][name="tabs"] {
            position: absolute;
            z-index: -1;
            &:checked {
                + .tab-label-content {
                    label {
                        color: inherit;
                        &:before {
                            display: block;
                            content: "";
                            width: 100%;
                            height: 78px;
                            background-size: 67px 67px;
                        }
                        &[for="tab1"] {
                            &:before {
                                background: url("/assets/images/common/icon-tab-Integrated-on.png") bottom center no-repeat;
                            }
                        }
                        &[for="tab2"] {
                            &:before {
                                background: url("/assets/images/common/icon-tab-images-on.png") bottom center no-repeat;
                            }
                        }
                        &[for="tab3"] {
                            &:before {
                                background: url("/assets/images/common/icon-tab-video-on.png") bottom center no-repeat;
                            }
                        }
                    }
                    .tab-content {
                        display: block;
                        left: 0;
                        width: 100%;
                    }
                }
            }
            @include tabs(3);
            &:first-of-type {
                &:checked {
                    ~ .slide {
                        left: 0;
                    }
                }
            }
        }
        label {
            display: inline-block;
            width: 100%;
            font-size: rem(22px);
            color: #c8c8c8;
            text-align: center;
            line-height: 2;
            transition: color 0.2s ease;
            cursor: pointer;
            &:before {
                display: block;
                content: "";
                width: 100%;
                height: 78px;
                background-size: 67px 67px;
            }
            &[for="tab1"] {
                &:before {
                    background: url("/assets/images/common/icon-tab-Integrated-off.png") bottom center no-repeat;
                }
            }
            &[for="tab2"] {
                &:before {
                    background: url("/assets/images/common/icon-tab-images-off.png") bottom center no-repeat;
                }
            }
            &[for="tab3"] {
                &:before {
                    background: url("/assets/images/common/icon-tab-video-off.png") bottom center no-repeat;
                }
            }
        }
    }
}
// 통합 탭
.search-tab {
    .tab-area {
        .tab-label-content {
            .tab-content {
                &.Integrated {
                    ul {
                        li {
                            padding: 20px 31px 15px 31px;
                            border-top: 1px solid #eaeaea;
                            &:first-child {
                                border-top: 0;
                            }
                            h5 {
                                margin-bottom: 10px;
                            }
                            .img-area {
                                position: relative;
                                float: left;
                                width: 146px;
                                height: 92px;
                                border-radius: 8px;
                                overflow: hidden;
                                border: 1px solid #ccc;
                                img {
                                    @include h-center;
                                    object-fit: cover;
                                }
                            }
                            .text-area {
                                float: left;
                                height: 84px;
                                overflow: hidden;
                                &.for {
                                    width: calc(100% - 162px);
                                    margin-left: 16px;
                                }
                                p {
                                    font-size: rem(18px);
                                    @include ellipsis(2);
                                }
                            }
                            .location {
                                font-size: rem(16px);
                                color: #888;
                                height: 32px;
                                padding-top: 10px;
                                @include ellipsis(1);
                                overflow: hidden;
                                clear: both;
                            }
                        }
                    }
                }
            }
        }
    }
}
// 이미지 탭
.search-tab {
    .tab-area {
        .tab-label-content {
            .tab-content {
                &.images {
                    padding: 20px 30px;
                    @include layout(3 16px/160px);
                    .img-box {
                        position: relative;
                        height: 138px;
                        border-radius: 8px;
                        overflow: hidden;
                        @include gallery(1 of 3);
                        margin-top: 16px;
                        &.selected, &:hover, &:focus, &:active {
                            position: relative;
                            border: 6px solid #f56056;
                            background: rgba(0, 0, 0, 0.6);
                            &:before {
                                position: absolute;
                                display: block;
                                content: "";
                                width: 100%;
                                height: 100%;
                                background: rgba(0, 0, 0, 0.6);
                                background-image: url("/assets/images/svg/icon-selected.svg");
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: 46px 31px;
                                z-index: 1;
                            }
                        }
                        &:nth-of-type(1) {
                            margin-top: 0;
                        }
                        &:nth-of-type(2) {
                            margin-top: 0;
                        }
                        &:nth-of-type(3) {
                            margin-top: 0;
                        }
                        img {
                            width: auto;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}
// 영상 탭
.search-tab {
    .tab-area {
        .tab-label-content {
            .tab-content {
                &.video {
                    padding: 20px 30px;
                    @include layout(2 16px/218px);
                    .video-box {
                        @include gallery(1 of 2);
                        margin-top: 16px;
                        p {
                            font-size: rem(18px);
                            @include ellipsis(2);
                            padding-top: 10px;
                        }
                        a {
                            position: relative;
                            display: block;
                            height: 136px;
                            border-radius: 8px;
                            overflow: hidden;
                            video {
                                border-radius: 8px;
                                object-fit: cover;
                            }
                        }
                        &.selected, &:hover, &:focus, &:active {
                            a {
                                position: relative;
                                border: 6px solid #f56056;
                                background: rgba(0, 0, 0, 0.6);
                                &:before {
                                    position: absolute;
                                    display: block;
                                    content: "";
                                    width: 100%;
                                    height: 100%;
                                    background: rgba(0, 0, 0, 0.6);
                                    background-image: url("/assets/images/svg/icon-selected.svg");
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: 58px 39px;
                                    z-index: 1;
                                }
                            }
                        }
                        &:nth-of-type(1) {
                            margin-top: 0;
                        }
                        &:nth-of-type(2) {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
}

/* ----------------------------------------------------------------------
 27.이미지상세뷰어
 (27_main-search-tab-img-view.html)
----------------------------------------------------------------------- */
.search-tab-view {
    header {
        width: 100px;
        height: 85px;
        .btn-view-prev {
            width: 85px;
            height: 85px;
                &:before {
                    display: block;
                    content: "";
                    width: 100%;
                    height: 100%;
                    background: url("/assets/images/svg/btn-view-prev.svg") center no-repeat;
                    background-size: 34px 28px;
                }
        }
    }
}
.search-tab-view {
    .slider-gallery {
        height: -webkit-calc( 100vh - 85px );
        height: -moz-calc( 100vh - 85px );
        height: calc( 100vh - 85px );
        overflow: hidden;
        padding: 0 56px;
        .touch-slider {
            float: left;
            width: -webkit-calc( 100% - 292px );
            width: -moz-calc( 100% - 292px );
            width: calc( 100% - 292px );
            overflow-y: auto;
            .carousel {
                width: 100%;
                .carousel-cell {
                    width: 100%;
                    clear: both;
                    .thumbnail {
                        position: relative;
                        width: 100%;
                        height: 550px;
                        border-radius: 8px;
                        border: 1px solid #b8b8b8;
                        background: #000;
                        overflow: hidden;
                        video {
                            @include h-center;
                            width: 100%;
                            height: auto;
                        }
                        img {
                            @include w-center;
                            object-fit: cover;
                        }
                    }
                    figcaption {
                        padding: 28px 0;
                        font-size: rem(18px);
                        background: #fff;
                        clear: both;
                        h4 {
                            font-weight: bold;
                            margin-bottom: 18px;
                            .lable-science {
                                margin-right: 18px;
                            }
                            .sub-title {
                                font-weight: normal;
                            }
                        }
                        p {
                            height: 60px;
                            overflow-y: auto;
                        }
                    }
                }
                // 플러그인 이전, 다음 버튼 제거
                .flickity-prev-next-button {
                    top: 278px;
                    width: 35px;
                    height: 65px;
                    border-radius: 0;
                    background: transparent;
                    svg {
                        display: none;
                    }
                    &.previous {
                        left: 28px;
                        &:before {
                            display: block;
                            content: "";
                            width: 100%;
                            height: 100%;
                            background: url("/assets/images/svg/btn-view-img.svg") center no-repeat;
                            background-size: 35px 65px;
                        }
                    }
                    &.next {
                        right: 28px;
                        &:before {
                            display: block;
                            content: "";
                            width: 100%;
                            height: 100%;
                            background: url("/assets/images/svg/btn-view-img.svg") center no-repeat;
                            -ms-transform: rotate(180deg);
                            -webkit-transform: rotate(180deg);
                            transform: rotate(180deg);
                            background-size: 35px 65px;
                        }
                    }
                }
                .flickity-page-dots {
                    display: none;
                }
            }
        }
    }
}
.search-tab-view {
    .slider-gallery {
        .view-content {
            float: right;
            width: 270px;
            height: -webkit-calc( 100vh - 85px );
            height: -moz-calc( 100vh - 85px );
            height: calc( 100vh - 85px );
            overflow-y: auto;
            &.images {
                @include layout(2 10px/130px);
                .img-box {
                    position: relative;
                    @include gallery(1 of 2);
                    height: 130px;
                    border-radius: 8px;
                    border: 1px solid #b8b8b8;
                    margin-bottom: 10px;
                    overflow: hidden;
                    &.selected, &:hover, &:focus, &:active {
                        position: relative;
                        border: 6px solid #f56056;
                        background: rgba(0, 0, 0, 0.6);
                        &:before {
                            position: absolute;
                            display: block;
                            content: "";
                            width: 100%;
                            height: 100%;
                            background: rgba(0, 0, 0, 0.6);
                            background-image: url("/assets/images/svg/icon-selected.svg");
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 46px 31px;
                            z-index: 1;
                        }
                    }
                    img {
                        @include w-center;
                        border-radius: 8px;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}
/* ----------------------------------------------------------------------
 29.영상-상세-뷰어
 (29_main-search-tab-video-view.html)
----------------------------------------------------------------------- */
.search-tab-view {
    .slider-gallery {
        .touch-slider {
            .carousel {
                .carousel-cell {
                    .thumbnail {
                        .btn-play {
                            @include w-center($position: absolute);
                            top: 215px;
                            width: 122px;
                            height: 122px;
                            z-index: 10;
                            &:before {
                                position: absolute;
                                top: 0;
                                display: block;
                                content: "";
                                width: 100%;
                                height: 100%;
                                background-image: url("../../assets/images/common/icon-play.png");
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: 122px 122px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.search-tab-view {
    .slider-gallery {
        .view-content {
            float: right;
            width: 270px;
            height: -webkit-calc( 100vh - 85px );
            height: -moz-calc( 100vh - 85px );
            height: calc( 100vh - 85px );
            overflow-y: auto;
            &.video {
                @include layout(2 10px/130px);
                .video-box {
                    position: relative;
                    @include span(full);
                    height: 171px;
                    border-radius: 8px;
                    background: #000;
                    border: 1px solid #b8b8b8;
                    margin-bottom: 10px;
                    overflow: hidden;
                    &.selected, &:hover, &:focus, &:active {
                        position: relative;
                        border: 6px solid #f56056;
                        background: rgba(0, 0, 0, 0.6);
                        &:before {
                            position: absolute;
                            display: block;
                            content: "";
                            width: 100%;
                            height: 100%;
                            background: rgba(0, 0, 0, 0.6);
                            background-image: url("/assets/images/svg/icon-selected.svg");
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 46px 31px;
                            z-index: 1;
                        }
                    }
                    video {
                        @include h-center;
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}

/* ----------------------------------------------------------------------
 20-2.서브_상세화면_내책읽기편집2
 (20-2_sub-view-reed-my-book-list-edit.html)
----------------------------------------------------------------------- */
.sub-dd-menu {
    @extend .sub-menu;
    margin-bottom: 70px;
    h2 {
        position: relative;
        padding-left: 66px;
        &:before {
            position: absolute;
            top: 28px;
            left: 28px;
            display: inline-block;
            content: "";
            width: 26px;
            height: 26px;
            background: #fff url("/assets/images/common/btn-dd-delete.png") center no-repeat;
            background-size: 26px 26px;
        }
    }
    ul.dreg-drop {
        li.sortable-placeholder {
            max-height: 111px;
            overflow: hidden;
            border-bottom: 1px solid #ccc;
            box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.4);
        }
        li {
            padding-left: 38px;
            padding-right: 60px;
            border-top: 1px solid #ccc;
            max-height: 111px;
            overflow: hidden;
            cursor: pointer;
            &:before {
                position: absolute;
                top: 50%;
                left: 30px;
                display: inline-block;
                content: "";
                width: 20px;
                height: 20px;
                margin-top: -10px;
                background: #fff url("/assets/images/common/btn-dd-delete.png") center no-repeat;
                background-size: 20px 20px;
            }
            &:after {
                position: absolute;
                top: 50%;
                right: 25px;
                display: inline-block;
                content: "";
                width: 24px;
                height: 24px;
                margin-top: -12px;
                background: #fff url("../../assets/images/svg/btn-dd-move.svg") center no-repeat;
                background-size: 24px 24px;
            }
            a {
                @include ellipsis(3);
                padding-left: 30px;
            }
        }
    }
    .btn-area {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        width: 406px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        border-top: 1px solid #dbdbdb;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        background: hsla(0, 0%, 100%, 0.8);
        [class^="btn-"] {
            width: 110px;
            height: 40px;
            line-height: 40px;
            border-radius: 20px;
            text-align: center;
            font-size: rem(20px);
            font-weight: bold;
            color: #fff;
            text-shadow: 0 0 1px hsla(0, 0%, 0%, 0.6);
        }
        .btn-completion {
            margin-right: 20px;
            border: 1px solid #ed3a34;
            background: #f46157;
        }
        .btn-cancel {
            background: #a9a9ab;
            border: 1px solid #9a999b;
        }
    }
}

/* ----------------------------------------------------------------------
 07-3.위젯_내가만든책선택하기
 (07-3_books-created-choose.html)
----------------------------------------------------------------------- */
.books-type-1 {

}