// 버튼 기본 디자인 설정 (PSD 기준사이즈)
@mixin btn($fz:22px, $color:#fff, $width:68px, $height:29px, $bg:null, $radius:6px) {
    font-size: rem($fz);
    color: $color;
    min-width: $width;
    height: $height;
    line-height: $height;
    border-radius: $radius;
    background: $bg;
}