// 버튼 기본 디자인 설정 (PSD 기준사이즈)
@mixin btn($fz:26px, $color:#fff, $width:140px, $height:60px, $padding:26px, $bg:$btn-red, $ratio:2) {
    font-size: rem($fz, $ratio);
    color: $color;
    min-width: rem($width, $ratio);
    padding: 0 rem($padding, $ratio);
    // 높이, 행간 설정
    $height: rem($height, $ratio);
    height: $height;
    line-height: $height;
    background: $bg;
}