@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@mixin loader ($wh-size: 87px, $circle:circle, $circle-bg: null, $logo: logo, $logo-bg: null) {
    position: relative;
    width: $wh-size;
    height: $wh-size;
    overflow: hidden;
    z-index: 100;
    .loader-#{$circle} {
        position: relative;
        width: $wh-size;
        height: $wh-size;
        background: url($circle-bg) center no-repeat;
        animation: spin 1s infinite linear;
     }
    .loader-#{$logo} {
        @include wh-center ($position: absolute);
        width: 61px;
        height: 41px;
        background: url($logo-bg) center no-repeat;
    }
}