@mixin text-abb ($width, $height) {
    width: $width;
    height: $height;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

@mixin text-aria($pos: top, $num: -9999px) {
    position: absolute;
    #{$pos}: $num;
    visibility: hidden;
}